
@{
    ViewBag.Title = "Cart";
}
@using OnlineShopWithShoppingCart.Controllers
<h2>سلة المشتريات </h2>
<br />

<table cellpadding="10" cellspacing="10" border="1">
    <tr >
        <th>حذف</th>
        
    
   
       
        <th> اسم المنتج</th>
        <th> صورة</th>


        <th>  السعر</th>

        <th> الكمية</th>

  
        <th>السعر الإجمالي</th>
</tr>
   @{ 
       decimal   s = 0;
   }

    @foreach (Item item in (List <Item>) Session["Cart"])
    {
        s = s + item.Pr.Price * item.Quantity;
        <tr>
            <td>@Html.ActionLink("حذف","Delete","Shoppingcart" ,new { id=item .Pr .Id },null )</td>
            
            <td>@item.Pr.Name</td>
            <td> <img class="thumbnail" style="height:100px; width:100px;" src="~/upload/@item.Pr.Image " /></td>
            <td>@item.Pr.Price $</td>
            <td>@item.Quantity </td>
            <td> @(item.Pr.Price * item.Quantity) $</td>
        </tr>
    }
    <tr >
        <td align="right"colspan="5" >sum</td>
        <td >@s $</td>
        </tr> 
</table>
<br />
@Html.ActionLink("اشتري تاني", "Index","Home", new { @class = "btn btn-primary btn-lg" })
<br />
<br />
<br />

@Html.ActionLink("استلم طلبك", "CheckOut", "ShoppingCart", new { @class = "btn btn-primary btn-lg" })